@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Noto Sans Arabic", sans-serif;
}

@layer base {
  /* scrollbar width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 4px;
  }

  /* scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  /* scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .owl-theme .owl-nav [class*="owl-"] {
    background-color: #fff !important;
    width: 35px;
    height: 35px;
    border-radius: 8px !important;
    border: solid 1px gray !important;
  }

  .owl-theme .owl-item img {
    display: inline !important;
    width: unset !important;
  }

  .nav-link.active {
    @apply font-bold text-primary;
  }

  .cart-link.active {
    @apply bg-primary;
  }

  .cart-link.active .cart-icon {
    @apply text-white;
  }
}
